html {
  padding-bottom:100px;
}
body {
  padding-top: 70px;
  padding-bottom: 170px;
  background:#eee;
}

.slide-tile {
  margin-bottom:20px;
  background: #fff;
  box-shadow: 0 1px 3px #C7C7C7;
  border-radius:2px;
  height:350px;
}

.slide-tile iframe {
  border: 0;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.slide-tile h2 {
  font-size:18px;
  margin:10px 15px;
}

.slide-tile .glyphicon {
  position:absolute;
  right:30px;
  top:315px;
}

.tagline {
  position:absolute;
  text-align:center;
  padding-bottom:30px;
  bottom:-40px;
  left:15px;
  right:15px;
  z-index:-1;
}

.tagline > h3,
.tagline > sub {
  color:#a5a5a5;
  text-shadow:1px 1px 0 white;
}
.tagline > sub {
  font-size:14px;
}
.tagline > h3 > span {
  font-family:monaco,courier;
}
